services/n8n/workflows/triage-pipeline-v3-native.json
{
  "name": "shebok — Full Triage Pipeline (v3 - Native WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "whatsapp-trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\n\n// Recursive function to deeply search the JSON for text and phone number\nfunction findDeep(obj, targetKeys) {\n  let result = {};\n  if (!obj || typeof obj !== 'object') return result;\n  \n  for (const [k, v] of Object.entries(obj)) {\n    if (targetKeys.includes(k) && (typeof v === 'string' || typeof v === 'number')) {\n      result[k] = String(v);\n    }\n    if (typeof v === 'object') {\n      Object.assign(result, findDeep(v, targetKeys));\n    }\n  }\n  return result;\n}\n\n// Look for common keys that contain the message and phone number\nconst found = findDeep(payload, ['body', 'text', 'message', 'from', 'waId', 'wa_id', 'sender', 'recipientPhoneNumber', 'display_phone_number']);\n\n// Get text: try .body first (from Meta's text.body), then .text, then .message\nlet text = '';\nif (payload.text && typeof payload.text === 'object' && payload.text.body) {\n  text = payload.text.body;\n} else if (payload.message && typeof payload.message === 'object' && payload.message.text && payload.message.text.body) {\n  text = payload.message.text.body;\n} else {\n  text = found.body || found.text || found.message || '';\n}\n\n// Get phone number\nlet from = found.from || found.wa_id || found.waId || found.sender || '';\n\nconst skip = (!text || !from) ? true : false;\n\nreturn [{\n  json: {\n    skip: skip,\n    phone_number: from,\n    message_text: text,\n    message_type: 'text',\n    debug_raw: payload\n  }\n}];"
      },
      "id": "parse-trigger",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid-message",
      "name": "Valid Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5004/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $('Parse Payload').item.json.phone_number, message_text: $('Parse Payload').item.json.message_text, message_type: $('Parse Payload').item.json.message_type }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "triage-service",
      "name": "Triage Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1197660833424864",
        "recipientPhoneNumber": "={{ $('Parse Payload').item.json.phone_number }}",
        "textBody": "={{ $json.response_text }}",
        "additionalFields": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [880, 0]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Valid Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Message?": {
      "main": [
        [
          {
            "node": "Triage Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Triage Service": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Triage pipeline using NATIVE WhatsApp Trigger and Send nodes instead of raw Webhooks."
  }
}
