services/n8n/workflows/triage-pipeline-v2.json
{
  "name": "shebok — Full Triage Pipeline (v2)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET,POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-whatsapp",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "shebok-whatsapp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "verify-get",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-meta-verify",
      "name": "Meta Verify GET?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-challenge",
      "name": "Return hub.challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? {};\nconst entry = body.entry?.[0];\nconst change = entry?.changes?.[0];\nconst value = change?.value ?? {};\nconst msg = value.messages?.[0] ?? {};\nconst contact = value.contacts?.[0] ?? {};\n\n// Skip status updates (delivered, read, etc.)\nif (!msg.id || !msg.from) {\n  return [{ json: { skip: true } }];\n}\n\nlet messageType = msg.type ?? 'unknown';\nlet text = '';\nlet mediaId = null;\n\nif (messageType === 'text') {\n  text = msg.text?.body ?? '';\n} else if (messageType === 'audio') {\n  mediaId = msg.audio?.id ?? null;\n  text = '[voice_note]';\n}\n\nreturn [{\n  json: {\n    skip: false,\n    message_type: messageType,\n    from_phone: msg.from ?? '',\n    text,\n    media_id: mediaId,\n    contact_name: contact.profile?.name ?? null\n  }\n}];"
      },
      "id": "parse-whatsapp",
      "name": "Parse WhatsApp Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-message",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5004/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $('Parse WhatsApp Payload').item.json.from_phone, message_text: $('Parse WhatsApp Payload').item.json.text, message_type: $('Parse WhatsApp Payload').item.json.message_type }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "triage-service",
      "name": "Triage Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/1197660833424864/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Parse WhatsApp Payload').item.json.from_phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($json.response_text) }} }\n}",
        "options": {}
      },
      "id": "send-whatsapp-reply",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ok",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"skipped\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ok-skip",
      "name": "Respond 200 (Skip)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        -80
      ]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Meta Verify GET?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Verify GET?": {
      "main": [
        [
          {
            "node": "Return hub.challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse WhatsApp Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse WhatsApp Payload": {
      "main": [
        [
          {
            "node": "Has Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Message?": {
      "main": [
        [
          {
            "node": "Respond 200 (Skip)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Triage Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Triage Service": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Full triage pipeline v2. Webhook → Parse → Triage Service (handles emergency, chitchat, triage, booking, DB) → WhatsApp Reply. Import into n8n, configure HTTP Header Auth with WhatsApp access token. Triage service runs on host.docker.internal:5004."
  }
}